body {
    background-color: #d3d3d3;
}
  
.container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
  
.outer {
    border: 1px solid black;
    height: 90%;
    width: 300px;
    border-radius: 18px;
    background-color: black;
    position: absolute;
    margin-top: 12px;
    margin-left: 20px;
}
  
.inner {
    border: 1px solid black;
    height: 90%;
    width: 300px;
    border-radius: 18px;
    background-color: white;
    position: absolute;
    text-align: center;
}
  
.inner > h3 {
    font-size: 2.3em;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0px;
}
  
#shopping-list {
    list-style-type: none;
    padding-left: 0px;
    line-height: 1.6em;
    font-size: 1.2em;
    font-family: 'Indie Flower', cursive;
}
  
.shopping-list-item {
}
  
button {
    border: none;
    background-color: white;
    font-size: 1em;
    outline: none;
}
  
#item-input {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    outline: none;
}

.strikethrough {
    text-decoration: line-through;
}